


	
  <div class="container footer">
    <br>
		<h5>Contatti</h5>
    <p>Indirizzo: via tiburtina 528<br> 
      Telefono: 3457613300 <br> 
      Email: info@tagliaclean.com</p>
   
   
	</div>



  <!-- <div class="container-fluid row">
    <div class="col-lg-4 fal"></div>
    <nav aria-label="col-lg-4 col-sm-12  breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#nosotros">Nosotros</a></li>
        <li class="breadcrumb-item"><a href="#contactos">Contactos</a></li>
        <li class="breadcrumb-item"><a href="#servicios">Servicios</a></li>
        <li class="breadcrumb-item"><a href="#">Ofertas</a></li>
      </ol>
    </nav>
    <div class="col-lg-4 col-sm-12 redes-footer mt-3 mb-3">
        <a href="#"><i class="fab fa-lg fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-lg fa-youtube"></i></a>
        <a href="#"><i class="fab fa-lg fa-facebook"></i></a>
        <a href="#"><i class="fab fa-lg fa-linkedin"></i></a>
      </div>
  </div>
     -->
  <!-- final footer-->