


	
  <div id="nosotros" class="container">
		<h3 class="cont pt-5">Nosotros</h3>
		<div class="row mt-5 mb-5">
			<div class="col-sm cont">
				<span class="fa fa-users nos"></span>
				<h3>Quienes somos</h3>
				<p>Nulla ornare, metus ut tincidunt accumsan, risus enim feugiat ante, in interdum lectus risus at nibh. Phasellus faucibus lacus neque, in cursus nulla eleifend ut. Donec cursus ornare mattis.</p>
			</div>
			<div class="col-sm cont">
				<i class="fa fa-bar-chart nos"></i>
				<h3>Mision</h3>
				<p>Nulla ornare, metus ut tincidunt accumsan, risus enim feugiat ante, in interdum lectus risus at nibh. Phasellus faucibus lacus neque, in cursus nulla eleifend ut. Donec cursus ornare mattis.</p>
			</div>
			<div class="col-sm cont">
				<i class="fa fa-eye nos"></i>
				<h3>Vision</h3>
				<p>Nulla ornare, metus ut tincidunt accumsan, risus enim feugiat ante, in interdum lectus risus at nibh. Phasellus faucibus lacus neque, in cursus nulla eleifend ut. Donec cursus ornare mattis.</p>
			</div>
		</div>
	</div>
