


	
  <div  class="container">
		<h3 class="cont pt-5">Chi Simao</h3>
		<div class="row mt-5 mb-5">
				<div class="col-sm cont">
						<span class="fa fa-users nos"></span>
						<h3>Obiettivi</h3>
						<p>Efficienza, risposte personalizzate e valore aggiunto.
							Rispetto per i nostri clienti, i nostri collaboratori e la comunità di cui facciamo parte.
							Miglioramento continuo dei nostri servizi e processi.
							</p>
					</div>
			<div class="col-sm cont">
				<i class="fa fa-bar-chart nos"></i>
				<h3>Missione</h3>
				<p>Soddisfare le esigenze dei nostri clienti, cercando sempre l'eccellenza, attraverso il miglioramento continuo dei nostri servizi e l'efficienza dei processi.</p>
			</div>
			<div class="col-sm cont">
				<i class="fa fa-eye nos"></i>
				<h3>Visione</h3>
				<p>Essere l'azienda leader nella fornitura di soluzioni integrate di pulizia e assistenza in Italia, il nostro vantaggio 
					competitivo è sviluppato sulla base di valori che guidano le azioni dei nostri collaboratori </p>
			</div>

		</div>
	</div>
