<div class="container">
    <h5 class="cont pt-2" style="color:gray">Servizi</h5>
    <h6 class="cont pt-3" style="color:gray">TagliaClean offre servizi di pulizia nelle seguenti aree:</h6>
    <div class="row justify-content-center ">

      <div class="col-2">
        <i class="fa fa-check custom card-servizio-cell"></i>

      </div>
      <div class="col-4">
        <i class="fa fa-hotel card-servizio-cell"></i>
        <h6 style="color:gray">Alberghi</h6>
      </div>
      <div class="col-2">
        <i class="fa fa-check custom card-servizio-cell"></i>

      </div>
      <div class="col-4 ">
        <i class="fa fa-building card-servizio-cell"></i>
        <h6 style="color:gray">Uffici</h6>
      </div>

    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-check custom card-servizio-cell"></i>

      </div>
      <div class="col-4">
        <i class="fa fa-home card-servizio-cell"></i>
        <h6 style="color:gray">Domestiche</h6>
      </div>
      <div class="col-2">
        <i class="fa fa-check custom card-servizio-cell"></i>

      </div>
      <div class="col-4">
        <i class="fa fa-hospital-o card-servizio-cell"></i>
        <h6 style="color:gray">Condomini</h6>
      </div>
    </div>
  </div>