


	
  <div  class="container">
      <h5 class="cont pt-4" style="color:gray">Chi Siamo</h5><br>
    <ul class="list-unstyled">
        <li class="media">
            <span class="fa fa-users siamo"></span>
          <div class="media-body">
            <h5 class="mt-0 mb-1" style="color:#009d00">Obiettivi</h5>
            <p  style="color:gray">Efficienza, risposte personalizzate e valore aggiunto.
               
              </p>
          </div>
        </li>
        <li class="media my-4">
            <i class="fa fa-bar-chart siamo "></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1" style="color:#009d00">Missione</h5>
            <p style="color:gray">Soddisfare le esigenze dei nostri clienti e cercando sempre l'eccellenza</p>
          </div>
        </li>
        <li class="media">
            <i class="fa fa-eye siamo"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1" style="color:#009d00">Visione</h5>
            <p style="color:gray">Essere l'azienda leader nella fornitura di soluzioni integrate di pulizia e assistenza in Italia </p>
          </div>
        </li>
      </ul>

    </div>
    <br><br>