


	
  <div  class="container">
			<h3 class="cont pt-5">Servizi</h3>
			<h4 class="cont pb-5">TagliaClean offre servizi di pulizia nelle seguenti aree:</h4>
			<div class="row pb-5 justify-content-center">
				<div class="col-sm " >
					<div class="card pb-2  card-servizio" style="width: 15rem;">
						<h4>&nbsp;<i class="fa fa-hotel con-i "></i>&nbsp;Alberghi</h4>
						<div class="card-body">
								<div class="card-text">
									<i class="fa fa-check custom"></i>Pulizia stanze e appartamenti<br>
									<i class="fa fa-check custom"></i>Pulizia scale, pavimenti e terrazze<br>
									<i class="fa fa-check custom"></i>Pulizia ristoranti e cucine<br>
									<i class="fa fa-check custom"></i>Manutenzione aree verdi e giardini<br>
								</div>
							<!-- Button trigger modal -->
							<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
								Descubre mas
							</button> -->
	
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Hoteles</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											...
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary">Descubre mas</button>
										</div>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
				<div class="col-sm">
					<div class="card pb-2 card-servizio" style="width: 15rem;">
						<h4>&nbsp;<i class="fa fa-building con-i"></i>&nbsp;Uffici</h4>
						<div class="card-body">
								<div class="card-text">
										<i class="fa fa-check custom"></i>Pulizia generale, pavimento, scrivanie e bagno<br>
										<i class="fa fa-check custom"></i>Pulizia degli immobili (dentro e fuori);<br>
										<i class="fa fa-check custom"></i>Pulizia dei vetri<br>
										<i class="fa fa-check custom"></i>Pulizia delle scale
										

									</div>
							<!-- Button trigger modal -->
							<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
								Descubre mas
							</button> -->
	
							<!-- Modal -->
							<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel1">Oficinas</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											...
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary">Descubre mas</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card pb-2 card-servizio" style="width: 15rem;">
						<h4>&nbsp;<i class="fa fa-home con-i"></i>&nbsp;Domestiche</h4>
						<div class="card-body">
							
								
							
							<div class="card-text">
									<i class="fa fa-check custom"></i>Pulizia Generale: Camere, Bagno, Cucina, etc.<br>
									<i class="fa fa-check custom"></i>Pulizia dei lampadari<br>
									<i class="fa fa-check custom"></i>Pulizia dei mobili e soprammobili<br>
									<i class="fa fa-check custom"></i>Sgrassatura di cucine,fornelli e frigoriferi<br>
					
								</div>
							<!-- Button trigger modal -->
							<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
								Descubre mas
							</button> -->
	
							<!-- Modal -->
							<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel2">Casas</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											...
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary">Descubre mas</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card pb-2 card-servizio" style="width: 15rem;">
						<h4>&nbsp;<i class="fa fa-hospital-o con-i"></i>&nbsp;Condomini</h4>
						<div class="card-body">
				
							<div class="card-text">
									<i class="fa fa-check custom"></i>Pulizia  dell'androne, degli ascensori, dei pianerottoli, delle rampe di scale<br>
									<i class="fa fa-check custom"></i>Pulizia di vetrate, di portoni d’ingresso e terrazze condominiali<br>
									<!-- <i class="fa fa-check custom"></i>Pulizia di cantine e garage<br> -->
									<i class="fa fa-check custom"></i>Altro
								</div>
							
							<!-- Button trigger modal -->
							<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
								Descubre mas
							</button> -->
	
							<!-- Modal -->
							<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel3">Hospitales</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											...
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary">Descubre mas</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	
	
